<!doctype html>
<title>Display Inventory</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<div class="page">
  <h1>Inventory</h1>
  <table>
    <tr>
      <td>
        'category ID'
      </td>
      <td>
        'Category'
      </td>
    </tr>
    {% for data in inventory %}
      <tr>
        <td>
          {{data.id}}
        </td>
        <td>
          {{data.category}}
        </td>
      </tr>
    {% endfor %}
  </table>
  {% block body %}{% endblock %}
</div>